{% extends 'base.html.twig' %}

{% block title %}User Home{% endblock %}

{% block body %}
    <div class='nav'>
        <h1>Leave Manager</h1>
        <div id="userProfile">
            <i class="fa-solid fa-circle-user" id="icon"></i>
            <span>{{ app.user.name }}</span>
        </div>
    </div>

    <div class='home'>
        <h1>Welcome {{ app.user.name }}</h1>
        <h2>You have 
            <span class="{% if app.user.leaveBalance > 5 %}text-green{% elseif app.user.leaveBalance > 0 %}text-orange{% else %}text-red{% endif %}">
            {{ app.user.leaveBalance }}
            </span> 
            leave days left
            {% if app.user.leaveBalance > 5 %}
                🙂
            {% elseif app.user.leaveBalance > 0 %}
                😐
            {% else %}
                😬
            {% endif %}
        </h2>
        {# Only show the leave form link if the user has leave days left #}
        {% if app.user.leaveBalance > 0 %}
            <a href='{{ path('app_user_leave_form') }}' class='submitLeaveBtn'>Request Leave</a>
        {% endif %}
    </div>

    <div class='sideBar'>
        <div class='sideBarContent'>
            <a href='{{ path('app_user_welcome') }}'>
                <div class='sideBarItem'>
                        <i class="fa-solid fa-home"></i>
                        <span>Home</span>
                    
                </div>
            </a>   
            {# Only show the leave form link if the user has leave days left #}
            {% if app.user.leaveBalance > 0 %}
                <a href='{{ path('app_user_leave_form') }}'>
                    <div class='sideBarItem'>
                            <i class="fa-solid fa-calendar"></i>
                            <span>leave Form</span>
                    </div>
                </a>
            {% endif %}
            <a href='{{ path('app_user_my_leave_requests') }}'>
                <div class='sideBarItem'>
                        <i class="fa-solid fa-user"></i>
                        <span>My leave requests</span>
                </div>
            </a>
            {# Only show the leave requests link if the user is a manager #}
            {% if 'ROLE_MANAGER' in app.user.roles %}
                <a href='{{ path('app_manager_leave_requests') }}'>
                    <div class='sideBarItem'>
                            <i class="fa-solid fa-users"></i>
                            <span>Leave requests</span>
                    </div>
                </a>
            {% endif %}
        </div>
        <a href='{{ path('app_logout') }}' class="logout">
            <i class="fa-solid fa-sign-out"></i>
            <span>Logout</span>
        </a>
    </div>
{% endblock %}
