{% extends 'base.html.twig' %}

{% block title %}Leave Requests{% endblock %}

{% block body %}
    <div class='nav'>
        <h1>Leave Manager</h1>
        <div id="userProfile">
            <i class="fa-solid fa-circle-user" id="icon"></i>
            <span>{{ app.user.name }}</span>
        </div>
    </div>
    <div class='card_container'>
    {% for leaveRequest in leaveRequests %}
        {% if leaveRequest.emp.roles[0] != 'ROLE_MANAGER' %}
            <div class='card'>
                <h2>Leave Request ID: {{leaveRequest.id}}</h2>
                <div class='cardContent'>
                    <table>
                        <tr id='tr1'>
                            <td>Employee</td>
                            <td>Employee ID</td>
                            <td>Balance</td>
                            <td>Type</td>
                            <td>From</td>
                            <td>To</td>
                            <td>Reason</td>
                        </tr>
                        <tr>
                            <td>{{leaveRequest.emp.name}}</td>
                            <td>{{leaveRequest.emp.id}}</td>
                            <td>{{leaveRequest.emp.leaveBalance}}</td>
                            <td>{{leaveRequest.type.value}}</td>
                            <td>{{leaveRequest.startDateFormatted}}</td>
                            <td>{{leaveRequest.endDateFormatted}}</td>
                            <td>{{leaveRequest.reason}}</td>
                        </tr>
                    </table>
                </div>
                {% if leaveRequest.status.value == 'pending' and leaveRequest.managerResponse is null %}
                    <div class='cardButtons'>
                        <a href='{{ path('manager_request_approve', {id: leaveRequest.id}) }}'><button class='approve'>Approve</button></a>
                        <a href='{{ path('manager_request_reject', {id: leaveRequest.id}) }}'><button class='reject'>Reject</button></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class='sideBar'>
        <div class='sideBarContent'>
            <a href='{{ path('app_user_welcome') }}'>
                <div class='sideBarItem'>
                        <i class="fa-solid fa-home"></i>
                        <span>Home</span>
                    
                </div>
            </a>
            {% if app.user.leaveBalance > 0 %}
                <a href='{{ path('app_user_leave_form') }}'>
                    <div class='sideBarItem'>
                            <i class="fa-solid fa-calendar"></i>
                            <span>leave Form</span>
                    </div>
                </a>
            {% endif %}
            <a href='{{ path('app_user_my_leave_requests') }}'>
                <div class='sideBarItem'>
                        <i class="fa-solid fa-user"></i>
                        <span>My leave requests</span>
                </div>
            </a>
            {% if 'ROLE_MANAGER' in app.user.roles %}
                <a href='{{ path('app_manager_leave_requests') }}'>
                    <div class='sideBarItem'>
                            <i class="fa-solid fa-users"></i>
                            <span>Leave requests</span>
                    </div>
                </a>
            {% endif %}
        </div>
        <a href='{{ path('app_logout') }}' class="logout">
            <i class="fa-solid fa-sign-out"></i>
            <span>Logout</span>
        </a>
    </div>
{% endblock %}
